@charset "UTF-8";
/*Estilos Tela*/
*{
    padding: 0px;
    margin: 0;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;

}
header{
    background-color: lightgray;
}
header > h1{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0px;
    font-weight: 900;

}
menu ul{
    list-style-type: none;
    background-color: gray;
    text-align: center;
}
menu li{
    font-size: 1.3em;
    color: white;
    display: inline-block;
    padding: 10px;
    
}

menu li:hover{
    background-color: rgb(189, 188, 188);
}
h2{
    margin: 20px;
}
article{
    width: 600px;
    display: block;
    margin: auto;
}