@charset "UTF-8";

body{
    background-color: rgb(233, 194, 147);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
 }   
 h1{
    color: blue;
    background-color: aliceblue;
 }
 h2{
    color: darkred;
    text-decoration: underline;

 }
 p{

    text-align: justify;
 }