@charset "UTF-8";

/*Todas Demais Medias*/
/*Tipical Device Breakpoints
Pequenas telas: até 600px
celular: 600px até 768px
tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media print {   /* Impressora*/
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    
    body{
        background-image: url(../imagem/back-print.jpg);
       
      
    }
    img#print{display: block;}

    main{
        width: 90%;
        border: 5px solid black;
    }

    main::after {
        content: 'Esse site foi feito pelo site https://github.com/snekredes' ;
        text-decoration: overline;
    }
    main h1{
        text-shadow: none;
        color: black;
    }

}


@media screen and (min-width:300px) and (max-width: 768px) { /*phone*/
    body{
        background-image: url(../imagem/back-phone.jpg);
    }
    img#phone{display: block;}

    main{
        width: 400px;
    }

}

 
@media screen and (min-width: 768px) and (max-width: 992px) { /*Tablet*/
    body{
        background-image: url(../imagem/back-tablet.jpg) ;
    }
   
    img#tablet{display:block;}

    main{
        width: 650px;
    }

}

@media screen and (min-width: 992px) and (max-width: 1200px) { /*Desktop*/
    body{
        background-image: url(../imagem/back-pc.jpg);
    }
    img#pc{display: block;}

    main{
        width: 650px;
    }

    
}

@media screen and (min-width: 1200px) { /* Grandes Telas*/
    body{
        background-image:  url(../imagem/back-tv.jpg);
    }
    img#tv{display: block;}

    main{
        width: 900px;
    }
    
    
}